@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

body {
  width: 100%;
}

.container {
  max-width: 1350px;
  margin: auto;
}

.header {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.header__list ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__list ul a {
  color: black;
}
.header__list ul a:hover {
  color: #d02c55;
}
.header__list--phone {
  display: flex;
  align-items: center;
  gap: 2px;
  color: black;
}
.header__list--phone:hover {
  color: #d02c55;
}
.header__menu a {
  color: black;
}
.header__menu a:hover {
  color: #d02c55;
}
.header__body {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: white;
}

.dropdown-content a {
  color: black;
  padding: 12px 44px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #d02c55;
}

.dropdown-btn:hover,
.dropdown-btn:active {
  color: #d02c55;
}

.dropdown-btn:hover .arrow,
.dropdown-btn:active .arrow {
  border-top-color: #d02c55;
}

.dropdown-btn.active .arrow {
  transform: rotate(180deg);
}

.arrow {
  position: absolute;
  top: 45%;
  right: 6px;
  margin-top: -4px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: black;
  transition: border-top-color 0.3s, transform 0.3s;
}

.dropdownm {
  position: relative;
  display: inline-block;
}

.dropdownm-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.dropdownm-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: white;
}

.dropdownm-content a {
  color: black;
  padding: 12px 44px;
  text-decoration: none;
  display: block;
}

.dropdownm-content a:hover {
  background-color: #f1f1f1;
  color: #d02c55;
}

.dropdownm-btn:hover,
.dropdownm-btn:active {
  color: #d02c55;
}

.dropdownm-btn:hover .arrowm,
.dropdownm-btn:active .arrowm {
  border-top-color: #d02c55;
}

.dropdownm-btn.active .arrowm {
  transform: rotate(180deg);
}

.arrowm {
  position: absolute;
  top: 45%;
  right: 6px;
  margin-top: -4px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: black;
  transition: border-top-color 0.3s, transform 0.3s;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
.slideshow-container button a {
  color: black;
}

.slides {
  display: none;
}

.slides img {
  max-height: 700px;
  max-width: 100%;
  height: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.text-container_mob {
  display: none;
}
.text-container_mob button {
  padding: 6px 10px;
}
.text-container_mob button:active {
  background-color: #d02c55;
  transition: 0.3s;
}
.text-container_mob button:active a {
  color: #f1f1f1;
}
.text-container button {
  padding: 10px 35px;
}

.image-container:hover .text-container {
  opacity: 1;
}

.text-container button:hover {
  cursor: pointer;
  background-color: #d02c55;
  transition: 0.3s;
  border: none;
}
.text-container button:hover a {
  color: #f1f1f1;
  transition: 0.3s;
}

.text-container > * {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.text-container > *:nth-child(1) {
  animation-delay: 0.5s; /* Задержка для текста */
}

.text-container > *:nth-child(2) {
  animation-delay: 1s; /* Задержка для кнопки */
}

.text-container > *:nth-child(3) {
  animation-delay: 1.5s; /* Задержка для абзаца */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.lessons {
  margin-top: 60px;
}
.lessons h1 {
  text-align: center;
}
.lessons__container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.lessons__container--item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
}
.lessons__container--item img {
  width: 300px;
  height: 400px;
}
.lessons__container--text {
  padding: 15px;
  cursor: pointer;
}
.lessons__container--text a {
  color: black;
}
.lessons__container--text:hover {
  transition: 0.3s;
  background-color: #d02c55;
}
.lessons__container--text:hover a {
  color: white;
}

.show-item {
  opacity: 1;
  transform: translateY(0);
}

.exame {
  padding: 50px 0;
  margin-top: 50px;
  background-color: #f1f1f1;
}
.exame h1 {
  text-align: center;
}
.exame__container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}
.exame__container--item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
}
.exame__container--item img {
  width: 300px;
  height: 400px;
}
.exame__container--text {
  padding: 15px;
  cursor: pointer;
}
.exame__container--text a {
  color: black;
}
.exame__container--text:hover {
  transition: 0.3s;
  background-color: #d02c55;
}
.exame__container--text:hover a {
  color: white;
}

.footer {
  margin-top: 90px;
  background-color: #d02c55;
  padding: 15px 0;
}
.footer__container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
}
.footer__container--exans {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.scroll-to-top-btn {
  display: none; /* Изначально скрываем кнопку */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background-color: #007bff; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.scroll-to-top-btn:hover {
  opacity: 0.7;
}

.child {
  margin-top: 100px;
}
.child__img {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.child__img img {
  width: 500px;
}

.prog {
  margin-top: 100px;
}
.prog__img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.prog__img img {
  width: 500px;
}

.individual {
  margin-top: 100px;
}
.individual__img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.individual__img img, .individual__img video {
  width: 500px;
}

.foreign {
  margin-top: 100px;
}
.foreign__img {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.foreign__img img {
  width: 500px;
}

.exdata {
  margin-top: 100px;
}
.exdata__img {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.exdata__img img {
  width: 500px;
}

.exans {
  margin-top: 100px;
  text-align: center;
  padding: 50px 0;
  color: #d02c55;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  .lessons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lessons__container {
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 767px) {
  .text-container {
    display: none; /* Скрываем текст в десктопном режиме */
  }
  .text-container_mob {
    display: block; /* Показываем текст в мобильном режиме */
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    opacity: 1; /* Убираем анимацию для мобильного режима */
  }
  .container {
    max-width: 454px;
  }
  .header__container {
    display: none;
  }
  body.lock {
    overflow: hidden;
  }
  .header__hamburger {
    width: 32px;
    height: 32px;
    display: block;
    background: transparent;
    border: transparent;
    z-index: 1000;
    cursor: pointer;
  }
  .header__hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1882352941);
  }
  .header__hamburger span + span {
    margin-top: 7px;
  }
  .header__hamburger span:nth-child(1) {
    animation: ease 0.5s top-back forwards;
  }
  .header__hamburger span:nth-child(1) {
    animation: ease 0.5s middle-back forwards;
  }
  .header__hamburger span:nth-child(3) {
    animation: ease 0.5s bottom-back forwards;
  }
  .header__body {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    justify-content: space-between;
  }
  .header__menu {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    background: white;
    transition: left 0.5s ease;
    overflow: auto;
    z-index: 110;
  }
  .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 10;
    margin-top: 37px;
    gap: 12px;
    z-index: 3000;
  }
  .active .header__menu {
    left: 0;
  }
  .active .header__hamburger span:nth-child(1) {
    animation: ease 0.5s top forwards;
  }
  .active .header__hamburger span:nth-child(2) {
    animation: ease 0.5s middle forwards;
  }
  .active .header__hamburger span:nth-child(3) {
    animation: ease 0.5s bottom forwards;
  }
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 10px;
      transform: rotate(0);
    }
    100% {
      top: 10px;
      transform: rotate(45deg);
    }
  }
  @keyframes top-back {
    0% {
      top: 10px;
      transform: rotate(45deg);
    }
    50% {
      top: 10px;
      transform: rotate(0);
    }
    100% {
      top: 0;
      transform: rotate(0);
    }
  }
  @keyframes middle {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes middle-back {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 10px;
      transform: rotate(135deg);
    }
  }
  @keyframes bottom-back {
    0% {
      bottom: 10px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  .lessons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lessons__container {
    justify-content: center;
  }
  .exame__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .child__img {
    justify-content: center;
  }
  .child__img img {
    width: 300px;
  }
  .prog__img {
    justify-content: center;
  }
  .prog__img img {
    width: 300px;
  }
  .individual__img {
    justify-content: center;
  }
  .individual__img img,
  .individual__img video {
    width: 300px;
  }
  .foreign__img {
    justify-content: center;
  }
  .foreign__img img {
    width: 300px;
  }
  .exdata__img {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .exdata__img img {
    width: 300px;
  }
}
@media screen and (max-width: 567px) {
  .container {
    max-width: 467px;
  }
  .text-container_mob {
    bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */