.header {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  &__list {
    ul {
      display: flex;
      gap: 10px;
      align-items: center;
      a{
        color: black;
        &:hover{
          color: #d02c55;
        }
      }
    }
    &--phone {
      display: flex;
      align-items: center;
      gap: 2px;
      color: black;
      &:hover {
        color: #d02c55;
      }
    }
  }
  &__menu{
    a{
      color: black;
      &:hover{
        color: #d02c55;
      }
    }
  }
  &__body {
    display: none;
  }
}